# Ignore temporary files and cache files.
/Gemfile.lock
/tmp/*
/log/*

# Ignore database files
/db/*.sqlite3

# Ignore setting file for individual environment
/config/config.rb

# Ignore external javascript libralies
/public/js/ext

# Ignore node libraries what are installed by npm
node_modules
